<main class="vh-100 w-100 container-fluid d-flex justify-content-center mt-4">
        
        
        <div class="w-80 mb-5" id="texto-home">
            <h2 class="fs-1 fw-bolder d-flex justify-content-center">Viajar Manager</h2>
            <p class="fs-5">Sistema online de administração de clientes e vendas.
            </p>

        </div>
</main>